<!-- This is the page that asks the user to shop or deliver -->

{% extends "base.html" %}
{% block title %}Home - TigerCart{% endblock %}

{% block content %}
    <h1>Welcome to TigerCart, {{ username }}!</h1>
    <hr>
    <h2><u>Description</u></h2>
    <p align="left"><strong>TigerCart</strong> is an application that enables users to place orders from Princeton's on-campus
        University Store and have them delivered
        to ANY on-campus location for the original price and a small (10%) delivery fee. 
        Alternatively, users can claim orders and deliver them to their designated on-campus locations
        to earn money.
    </p>
    <hr>
    <h2><u>Instructions</u></h2>
    <ol align="left">
        <li>If you have not already done so, navigate to your "Profile" page and enter your contact information.</li>
        <li>Select "Shop" if you would like to place an order or "Deliver" if you would like to deliver an order:</li>
    </ol>
    <a href="{{ url_for('shop') }}">Shop</a>
    <a href="{{ url_for('deliver') }}">Deliver</a>

    {% if current_order %}
        <hr color="#ff5722">
        <h2>Your Current Order</h2>
        <p><strong>Order ID:</strong> {{ current_order['id'] }}</p>
        <p><strong>Status:</strong> {{ current_order['status'] }}</p>
        <a href="{{ url_for('shopper_timeline') }}">View Order Timeline</a>
    {% endif %}

    {% if current_delivery %}
        <hr color="#ff5722">
        <h2>Your Current Delivery</h2>
        <p><strong>Order ID:</strong> {{ current_delivery['id'] }}</p>
        <p><strong>Status:</strong> {{ current_delivery['status'] }}</p>
        <a href="{{ url_for('delivery_timeline', delivery_id=current_delivery['id']) }}">View Delivery Timeline</a>
    {% endif %}
{% endblock %}
