{% extends "base.html" %}
{% block title %}Order Details - TigerCart{% endblock %}

{% block content %}
<h1>Order Details for Order #{{ order['id'] }}</h1>

<hr color="#ff5722">

<h2><u>Order Information</u></h2>
<p><strong>Delivery Location:</strong> {{order['location']}}</p>
<p><strong>Timestamp:</strong> {{ order['timestamp'] }}</p>
<p><strong>Status:</strong> {{ order['status'] }}</p>
<p><strong>Total Items:</strong> {{ order['total_items'] }}</p>

<hr color="#ff5722">

<h2><u>Items</u></h2>
<table style="border: 1px solid black; border-collapse: collapse;" align="center">
    <thead style="border: 1px solid black;">
        <tr>
            <td style="border: 1px solid black;"><strong>Item</strong></td>
            <td style="border: 1px solid black;"><strong>Quantity</strong></td>
            <td style="border: 1px solid black;"><strong>Unit Price ($)</strong></td>
            <td style="border: 1px solid black;"><strong>Total Price ($)</strong></td>
        </tr>
    </thead>
    <tbody>
        {% for item_id, item in order['cart'].items() %}
        <tr>
            <td style="border: 1px solid black;">{{ item['name'] }}</td>
            <td style="border: 1px solid black;">{{ item['quantity'] }}</td>
            <td style="border: 1px solid black;">{{ "%.2f"|format(item['price']) }}</td>
            <td style="border: 1px solid black;">{{ "%.2f"|format(item['quantity'] * item['price']) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr color="#ff5722">

<h2><u>Cost</u></h2>
<p><strong>Subtotal:</strong> ${{ "%.2f"|format(subtotal)}}</p>
<p><strong>Delivery Fee (10%):</strong> ${{ "%.2f"|format(subtotal * 0.1)}}</p>
<p><strong>Total:</strong> ${{ "%.2f"|format(subtotal * 1.1)}}</p>

{% endblock %}
